.auth-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to right, #0066cc, #0099cc);
    color: #fff;
    font-family: Arial, sans-serif;
}

.auth-container h2 {
    margin-bottom: 20px;
    font-size: 2rem;
}

.logo {
    width: 250px;
    height: auto;
    margin-bottom: 20px;
    border-radius: 10px;
    padding: 10px;
}

.auth-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    background: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    width: 400px;
}

.auth-form input,
.auth-form select {
    height: 40px;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    transition: 0.3s;
}

.auth-form input:focus,
.auth-form select:focus {
    border-color: #0066cc;
    box-shadow: 0 0 5px rgba(0, 102, 204, 0.7);
}

.auth-form button {
    height: 40px;
    background: #0066cc;
    color: #fff;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.auth-form button:hover {
    background: #005bb5;
}


.error {
    color: black;         
    background-color: #f8d7da; 
    border: 1px solid #f5c6cb;  
    padding: 10px;
    border-radius: 5px;
    font-size: 14px;
    margin-bottom: 10px;
  }
  
